
    <!DOCTYPE html>
    <html lang="en">
      <head><link href=https://cdn.jsdelivr.net/gh/processing/p5.js-website@main/src/data/examples/assets/moonwalk.jpg>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8" />
      <style>html, body {
      margin: 0;
      padding: 0;
    }
    canvas {
      display: block;
    }
    </style>
       
        <style>
          .header {
            position: fixed;
            height: 200px;
            width: 100%;
            z-index: 1;
            background: white;
            color: #ed225d;
            font-family: Montserrat, sans-serif;
            text-align: center;
            display: table;
          }
          .message-container {
            display: table-cell;
            vertical-align: middle;
          }
          .message {
            color: #6b6b6b;
            margin: 10px;
          }
          .home-link {
            color: #b5b5b5;
            text-decoration: none;
          }
          canvas {
            position: fixed;
            width: 100% !important;
            height: 100% !important;
          }
        </style>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link
          rel='shortcut icon'
          href='https://raw.githubusercontent.com/processing/p5.js-website-OLD/master/favicon.ico'
          type='image/x-icon'
        >
      </head>
        
      
        <body>
       
        
        <script src="sketch.js"></script>
      <script>/*
     * @name Brightness
     * @description By Dan Shiffman. This program adjusts the brightness of a part
     * of the image by calculating the distance of each pixel to the mouse.
     * <p><em><span class="small"> To run this example locally, you will need
     * at least an image file and a running <a href="https://github.com/processing/p5.js/wiki/Local-server">local server</a>.</span></em></p>
     */
    let img;
    
    function preload() {
      img = loadImage('https://rawgit.com/processing/p5.js-website/main/dist/assets/examples/assets//moonwalk.jpg');
    }
    
    function setup() {
      createCanvas(windowWidth, windowHeight);
      pixelDensity(1);
      img.loadPixels();
      loadPixels();
    }
    
    function draw() {
      for (let x = 0; x < img.width; x++) {
        for (let y = 0; y < img.height; y++) {
          // Calculate the 1D location from a 2D grid
          let loc = (x + y * img.width) * 4;
          // Get the R,G,B values from image
          let r, g, b;
          r = img.pixels[loc];
          // Calculate an amount to change brightness based on proximity to the mouse
          let maxdist = 50;
          let d = dist(x, y, mouseX, mouseY);
          let adjustbrightness = (255 * (maxdist - d)) / maxdist;
          r += adjustbrightness;
          // Constrain RGB to make sure they are within 0-255 color range
          r = constrain(r, 0, 255);
          // Make a new color and set pixel in the window
          //color c = color(r, g, b);
          let pixloc = (y * width + x) * 4;
          pixels[pixloc] = r;
          pixels[pixloc + 1] = r;
          pixels[pixloc + 2] = r;
          pixels[pixloc + 3] = 255;
        }
      }
      updatePixels();
    }
    </script></body>
    </html>
    
      